<html>

<head>
    <title>Sistilia-demo web</title>
    <link rel="stylesheet" href="style.css">
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato&family=Oxygen&family=Rubik&family=Source+Sans+Pro&family=Varela+Round&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
</head>

<body>

    <div id="my-element">
        <div>
            <nav class="navbar navbar-expand-sm text-light">
                <div class="container" style="letter-spacing:1px;">
                    <a class="navbar-brand" style="color: white" href="#">STISLA</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="collapsibleNavbar">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                                    style="color:white;" href="#">Developers</a>
                                <ul class="dropdown-menu">
                                    <li>abc</li>
                                    <li>abc</li>
                                    <li>abc</li>
                                </ul>

                            </li>
                            <li class="nav-item">
                                <a style="color:white;" class="nav-link" href="#">blog</a>
                            </li>
                            <li class="nav-item">
                                <a style="color:white;" class="nav-link" href="#">Support</a>
                            </li>
                            <li class="nav-item">
                                <a style="color:white;" class="nav-link" href="#">contact</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <button class="btn btn-light rounded-pill"><i class="fa-solid fa-cart-shopping"></i>Download
                        </button>
                    </div>
                </div>

            </nav>
        </div>
        <!--main content-->
        <div class="container">
            <div class="row">
                <div class="col-lg-6" style="padding-top:100px;">
                    <div class="mb-5">
                        <button class="btn text-light rounded-pill " style="background: #f0f8ff21;"><span
                                class="badge bg-danger rounded-pill">NEW</span>Stisla is Now 100% Open Source >
                        </button>
                    </div>
                    <div class="text-light">
                        <h1 class="mb-3">Free Bootstrap Admin <br>Template</h1>
                        <p class="mb-3">Stisla will help you to speed up your project, design your<br> own dashboard UI
                            and
                            the users will love it.</p>
                        <button style="padding: 10px 26px!important;"
                            class="btn rounded-pill bg-warning text-light mb-3">
                            Get Started >
                        </button>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img src="abc.svg" width="auto" height="auto">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 rounded-start bg-light pt-5">
                    <div>
                        <p class="text-secondary mb-0">Not A Reason To Use Stisla</p>
                        <div class="d-flex  pb-5 align-items-center">
                            <span class="p-1 bg-primary border rounded-pill" style="width: 50px; height: 1px"></span>
                            <h1 class="p1">Just a <b>statistic</b></h1>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 rounded-end bg-light d-flex justify-content-around">
                    <div class="pt-5">
                        <h2><b>7000+</b></h2>
                        <p class="text-primary" style="letter-spacing: 1px;">Downloads</p>
                    </div>
                    <div class="pt-5">
                        <h2><b>125+</b></h2>
                        <p class="text-primary" style="letter-spacing: 1px;">Countries</p>
                    </div>
                    <div class="pt-5">
                        <h2><b>6500+</b></h2>
                        <p class="text-primary" style="letter-spacing: 1px;">Sessions</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>